[Unit]
Description=Pomodoro 25m work interval
Documentation=man:systemd.timer(5)

[Timer]
OnActiveSec=25min
AccuracySec=1s
RandomizedDelaySec=0
Persistent=false
Unit=pomodoro-work.service

